@import '../../bower_components/foundation-sites/scss/foundation';


@include foundation-everything;


.chili-pot {
	text-align: center;
	position: relative;
	.chili-label {
	  line-height: 1.2rem;
	  position: absolute;
	  top: 40%;
	  text-align: center;
	  left: 20%;
	  right: 20%;
	}
}
