<div class="vote row columns" *ngIf="chili">
	<div class="row">
		<div class="columns small-centered chili-pot">
			<img src="../resources/crock-pot-transp.png">
			<div class="chili-label">
				{{chili.name}}
			</div>
		</div>
	</div>

	<rate-input [(rating)]="rating.ratingEntries[i]"  *ngFor="#ratingEntry of rating.ratingEntries; #i=index"></rate-input>

	<button class="expanded button" [disabled]="!allRatingsFilled()" (click)="submitRating()">Submit Vote for {{currentJudge.name}}</button>

	<button class="expanded button secondary" (click)="resetRating()">Reset Vote</button>

</div>