<label class="float-left">
	1
	<input type="radio" value="1" name="rating-{{rating.category}}" (change)="updateRating($event)">
</label>
<label class="float-left">
	2
	<input type="radio" value="2" name="rating-{{rating.category}}" (change)="updateRating($event)">
</label>
<label class="float-left">
	3
	<input type="radio" value="3" name="rating-{{rating.category}}" (change)="updateRating($event)">
</label>
<label class="float-left">
	4
	<input type="radio" value="4" name="rating-{{rating.category}}" (change)="updateRating($event)">
</label>
<label class="float-left">
	5
	<input type="radio" value="5" name="rating-{{rating.category}}" (change)="updateRating($event)">
</label>