<div class="vote row columns" *ngIf="chili">
	<div class="row">
		<div class="chili-pot columns small-centered">
			<div class="pot-label">
				{{chili.name}}
			</div>
		</div>
	</div>

	<div>
		<button class="expanded button" [disabled]="enableSubmit">Submit Vote</button>
	</div>

	<div class="rating row" *ngFor="#category of categories">
		<div class="columns small-5">{{category.adjective}} {{ratings[category.id].ratingValue}}</div>
		<div class="columns small-7 clearfix">
			<rate-input [(rating)]="ratings[category.id]"></rate-input>

		</div>
	</div>

</div>