
.chili-pot {
	text-align: center;
	min-height: 166px;
	position: relative;
	.chili-label {
	  line-height: 1.2rem;
	  position: absolute;
	  top: 40%;
	  text-align: center;
	  left: 20%;
	  right: 20%;
	}
}
