
.module {
	padding: 0;
	text-align: center;
	color: purple;
	height: 166px;
	min-width: 120px;
	background-image: url(../resources/crock-pot-sketch.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	h4 {
	  position: relative;
	  padding: 63px 36px;
	}
}
